<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- login area start -->
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            <form [formGroup]="loginForm">
                <div class="login-form-head">
                    <h4>Sign In</h4>
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label>Email address</label>
                        <input type="email" formControlName="email" required>
                        <i class="ti-email"></i>
                        <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)"
                            class="text-danger">
                            <div *ngIf="loginForm.get('email').errors.required">
                                Đây là trường bắt buộc phải nhập.
                            </div>
                        </div>
                    </div>
                    <div class="form-gp">
                        <label>Password</label>
                        <input type="password" formControlName="password" required>
                        <i class="ti-lock"></i>
                        <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
                            class="text-danger">
                            <div *ngIf="loginForm.get('password').errors.required">
                                Đây là trường bắt buộc phải nhập.
                            </div>
                        </div>
                    </div>
                    <div class="submit-btn-area">
                        <button [disabled]="loginForm.invalid" (click)="doLogin()" type="submit">Submit<i
                                class="ti-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- login area end -->